@font-face {
    font-family: precious;
    src: url('../asset/fonts/Precious.ttf');
}
  @font-face {
    font-family: samartan;
    src: url('../asset/fonts/SAMAN___.ttf');
  }
  @font-face {
    font-family: greatvibe;
    src: url('../asset/fonts/GreatVibes-Regular.ttf');
  }
  @font-face {
    font-family: allura;
    src: url('../asset/fonts/Allura-Regular.ttf');
  }
  @font-face {
    font-family: als;
    src: url('../asset/fonts/alsscrp.ttf');
  }
